
.d-bar{
  font-family:Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  display: flex;
  position: relative;
  margin-left:245px;
  margin-top:140px;
  max-width:60vh;
  /*border: 1px solid black;*/
}

.d-text input
{
   width:740px;
   height:23px;
   padding-left:10px;
   border-style: none;
   color:#757575;
   font-size:15px;
   font-weight:540;
   border: 1.5px solid #BEBFC5;
}
.d-text button
{
  position: absolute;
  margin-top:12px;
  margin-left:-35px;
  color:#727389; 
  width: 23px;
  background-color: transparent;
  border: none;
}
  
  .cuisine
  {
    font-size:18px;
    font-weight: 1000;
    color: #3D4152;
    font-family: sans-serif;
    margin-left:265px;
    margin-top:5px;
  }
  .search-results
  {
    margin-top: 45px;
    display: flex;
    justify-content: center;
  }